$mono-primary: #252430;
$mono-secondary: #f5f5f5;
$mono-tertiary: #6b7280;
$mono-4: #d8dadc;
$mono-5: #e5e7eb;

$primary-color: #655cf4;
$secondary-color: #ff00ff;
$tertiary-color: #ffffff;
$primary-color-darker: #5048c5;

$table-primary-color: #f5f6ff;
$table-secondary-color: #ffedff;
$table-background-color: #ffffff;

$status-alert: #ff310d;
$status-neutral: #655cf4;
$status-warning: #ff8a0d;
$status-success: #09b51d;

$background-primary: #fafafa;
$background-secondary: #ffffff;
$background-error: #ffe2e2;
$background-info: #f0f3ff;

$text-primary-color: black;
$text-secondary-color: #858ba0;
$text-highlight-color: #655cf4;

$border-color: #d8dadc;
